Workflow of Price Updater.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "ceeaaaea-be49-4fe9-a634-255e4599c315",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1_672hD_XnedgsJGtyuG2CLiWfKP6spPLdUyHZfSZquA"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_672hD_XnedgsJGtyuG2CLiWfKP6spPLdUyHZfSZquA/edit#gid=0"
        },
        "options": {}
      },
      "id": "7089008a-7a14-4370-ae90-2b3fd5f1ab3c",
      "name": "Read POS Price List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "91BTVoIkLiGB1TMP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\nconst timestamp = new Date().toISOString().split('T')[0];\n\nfor (const item of $input.all()) {\n  // Skip header row or missing SKU\n  if (!item.json.SKU || item.json.SKU === 'SKU') continue;\n\n  const currentRaw = String(item.json['CURRENT PRICE'] || \"0\");\n  const newRaw = String(item.json['NEW PRICE'] || \"0\");\n\n  const priceData = {\n    sku: item.json.SKU || '',\n    productName: item.json['PRODUCT NAME'] || '',\n    currentPrice: parseFloat(currentRaw.replace('$', '')) || 0,\n    newPrice: parseFloat(newRaw.replace('$', '')) || 0,\n    category: item.json.CATEGORY || 'General',\n    supplier: item.json.SUPPLIER || '',\n    lastUpdated: timestamp,\n    priceChange: 0,\n    changePercent: 0\n  };\n\n  // Calculate price change\n  if (priceData.currentPrice > 0) {\n    priceData.priceChange = priceData.newPrice - priceData.currentPrice;\n    priceData.changePercent = (\n      (priceData.priceChange / priceData.currentPrice) * 100\n    ).toFixed(2);\n  }\n\n  // Only include items with a price change\n  if (Math.abs(priceData.priceChange) > 0.01) {\n    items.push(priceData);\n  }\n}\n\nconsole.log(`Processing ${items.length} price changes`);\nreturn items.map(item => ({ json: item }));\n"
      },
      "id": "98c4a4c2-e723-455b-9056-40dc9bc6cb88",
      "name": "Parse Price Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO price_update_log (\n  batch_id,\n  timestamp,\n  items_processed,\n  csv_file,\n  status,\n  notes\n)\nVALUES (\n  '2025-09-17-001',\n  NOW(),\n  12,\n  'price-updates.csv',\n  'success',\n  'Email sent to ops team'\n)\nRETURNING *;\n",
        "options": {}
      },
      "id": "9f4d8353-d131-48a7-966f-c4f1b98c5260",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1456,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "MXiqv6jjtsVP2Yx9",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/updated_price.csv",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1520,
        -224
      ],
      "id": "f1045d85-f869-45c8-97d3-bb09a81f280b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {
          "fileName": "pos_prices.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        -224
      ],
      "id": "4f07a940-1816-4ca0-ba6d-882c0374e4be",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-BlBkybP3xBfFzBwh7UdtRGpg7c_cNXal8tN2Eh1nws",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-BlBkybP3xBfFzBwh7UdtRGpg7c_cNXal8tN2Eh1nws/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $json.sku }}",
            "PRODUCT NAME": "={{ $json.productName }}",
            "CURRENT PRICE": "={{ $json.currentPrice }}",
            "NEW PRICE": "={{ $json.newPrice }}"
          },
          "matchingColumns": [
            "SKU"
          ],
          "schema": [
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRODUCT NAME",
              "displayName": "PRODUCT NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CURRENT PRICE",
              "displayName": "CURRENT PRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NEW PRICE",
              "displayName": "NEW PRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CATEGORY",
              "displayName": "CATEGORY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SUPPLIER",
              "displayName": "SUPPLIER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        816,
        0
      ],
      "id": "d80d87c4-8453-4dec-84b7-4e00207ea1e5",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "91BTVoIkLiGB1TMP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ragavis@advantixagi.com",
        "subject": "Test",
        "message": "find attachment of updated list",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        -128
      ],
      "id": "cfe60dfe-c176-4d2b-8d88-e90d71570a35",
      "name": "Send a message1",
      "webhookId": "ae465892-3859-450b-aa71-3932ee41639a",
      "credentials": {
        "gmailOAuth2": {
          "id": "R8BYunQP6XLmPSO2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Read POS Price List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read POS Price List": {
      "main": [
        [
          {
            "node": "Parse Price Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Price Data": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c786c20f-5da5-4093-b1bd-f908f98dfd66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61c3f693dade4d6c95de2e8e0f289bd5a542f5b4de1e61e057a3a39d9d7030f8"
  },
  "id": "a81HQCXVYU4IALPf",
  "tags": []
}